<div class="relative inline-block text-left  ">
  <div>
    <button
      type="button"
      class="lg:w-[45rem] md:w-[25rem] sm:w-[10rem] justify-center gap-x-1.5 rounded-lg bg-orange-900 px-3 py-3 lg:text-xl md:text-sm sm:text-sm font-semibold text-amber-300 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-orange-600 "
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="toggleDropdown()"
    >
      {{ level.name }}
      <svg
        class="-mr-1 h-5 w-5 text-gray-400"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>

  <div
    *ngIf="isDropdownOpen"
    class="absolute right-0 z-10 mt-2 w-full origin-top-right rounded-md bg-slate-900 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none "
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      <ng-container *ngFor="let lesson of level.lessons">
        <a
          href="#"
          class="block px-4 py-2 text-white lg:text-lg md:text-xs sm:text-sm font-mono hover:bg-slate-500"
          role="menuitem"
          tabindex="-1"
        >
          {{ lesson }}
          <!-- Mostrar la lección -->
        </a>
      </ng-container>
    </div>
  </div>
</div>
