<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-orange-900"
      >
        Que son las acordes musicales?
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-orange-950">
        Los acordes son conjuntos de notas que se tocan simultáneamente, creando
        una armonía. En la teoría musical, un acorde es la combinación de tres o
        más notas diferentes que suenan juntas para producir un sonido armónico
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes Basicos
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes basicos
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes básicos forman la base de la armonía, utilizados en
              una amplia variedad de géneros como el pop, el rock, y la música
              folk, proporcionando la estructura fundamental de muchas canciones
            </p>
            <a
              href="resources/musical-chords/Acordes Basicos"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes con septima
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes con septima
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes con séptima son variaciones comunes y esenciales en la
              música, especialmente en el jazz, el blues, y otros géneros que
              requieren mayor color y tensión armónica
            </p>
            <a
              href="resources/musical-chords/Acordes con Septima"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes con novena
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes con novena
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes con novena añaden una profundidad y riqueza
              adicionales, siendo populares en géneros como el jazz, el R&B, y
              la música fusión, donde se busca una sonoridad más sofisticada
            </p>
            <a
              href="resources/musical-chords/Acordes con novena"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes con oncena
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes con oncena
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes con oncena aportan una sonoridad etérea y expansiva,
              siendo utilizados en el jazz, el rock progresivo, y la música
              experimental para crear atmósferas más complejas y envolventes.
            </p>
            <a
              href="resources/musical-chords/Acordes con oncena"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes con trecena
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes con trecena
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes con trecena ofrecen una sonoridad rica y sofisticada,
              encontrando su lugar en el jazz, la música clásica moderna y la
              fusión, donde se busca una armonía avanzada y matices únicos.
            </p>
            <a
              href="resources/musical-chords/Acordes con trecena"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes alterados y extensiones
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes alterados y extensiones
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes alterados y con extensiones añaden tensión y color,
              siendo esenciales en el jazz moderno y la música de vanguardia
              para crear armonías sorprendentes y efectos expresivos únicos.
            </p>
            <a
              href="resources/musical-chords/Acordes alterados y extensiones"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes-></a
            >
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <button
            class="absolute inset-0 w-full h-full object-cover object-center rounded bg-red-700 text-amber-300 text-4xl"
          >
            Acordes con extensiones y adiciones
          </button>
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-orange-900 opacity-0 hover:opacity-100"
          >
            <h1 class="title-font text-lg font-medium text-amber-300 mb-3">
              Acordes con extensiones y adiciones
            </h1>
            <p class="leading-relaxed text-white">
              Los acordes con extensiones y adiciones enriquecen la armonía,
              siendo comunes en el jazz, el soul y la música contemporánea para
              aportar profundidad y complejidad sonora a las progresiones.
            </p>
            <a
              href="resources/musical-chords/Acordes con extensiones y adiciones"
              class="text-green-300 inline-flex items-center md:mb-2 lg:mb-0"
              >Ver acordes</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
